body{
    background-color: rgb(113, 113, 113);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    user-select: none;
    -moz-user-select: none;
    height: 100vh; width: 100vw;
    margin: 0;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(fit-content);
    background-color: rgb(186, 186, 186);
    width: fit-content;
    padding: 10px;
    gap: 5px;
    box-shadow: inset 2px 2px rgb(255, 255, 255),
                inset -2px -2px rgb(124, 124, 124);
}

.score{
    height: 60px;
    width: 100%;

    box-shadow: inset 2px 2px rgb(124, 124, 124),
                inset -2px -2px rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.mineCounter{
    background-color: rgb(74, 7, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-family: monospace;
    color: red;
    height: 40px;
    width: 70px;
    margin-left: 10px;
}
.timer{
    background-color: rgb(83, 0, 0);
    height: 40px;
    width: 70px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-family: monospace;
    color: red;
}

.grid{
    display: grid;
    justify-content: center;
    height: fit-content;
    box-shadow: inset 2px 2px rgb(124, 124, 124),
                inset -2px -2px rgb(255, 255, 255) ;
    padding: 2px;
}

.box{
    height: 20px;
    width: 20px;
    background-color: rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 0;
    box-shadow: inset 2px 2px  rgb(255, 255, 255),
                inset -2px -2px rgb(124, 124, 124);
    padding: 1px;
}

.flag{
    background-color: rgb(186, 186, 186);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 40px;
    box-shadow: inset 2px 2px  rgb(255, 255, 255),
                inset -2px -2px rgb(124, 124, 124);
    margin: 2px;
    padding: 1px;          
}

.restart, .stats-restart{
    background-color: rgb(186, 186, 186);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    box-shadow: inset 2px 2px  rgb(255, 255, 255),
                inset -2px -2px rgb(124, 124, 124);
    padding: 1px; 
}

.game-flag{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-screen{
    position: absolute;
    background-color: rgb(83, 0, 0);
    height: 60px;
    width: 202px;
    box-shadow: inset 2px 2px rgb(124, 124, 124),
                inset -2px -2px rgb(255, 255, 255);
    z-index: -1;
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.stats-score {
    margin-left: 10px;
}
.leaderboard{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    height: calc(100% - 5px);
    width: 90px;
    overflow: hidden;
}
.heading{
    font-size: 10px;
    text-align: center;
}
.top{
    font-size: 12px;
}
.stats-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stats-left .restart{
    margin-left: 8px;
}